FLASK_APP=run:app
FLASK_ENV=development

# Database
DB_URL="postgresql+psycopg2://postgres:root@db/glados"
DB_NAME=glados

# Ports
SERVER_PORT=5001
ADMINER_PORT=8001

# Google gemini key for natural language
GOOGLE_API_KEY='insert your api key here'

# Folder where is located your gcloud-key.json (google cloud for voice synthetiser)
SECRETS_FOLDER='insert the path here'
